<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Demo">
	<parameter name="url" value="archana"></parameter>
	<parameter name="platform" value="windows"></parameter>
	<test name="DemoTest">
	
	
		<classes>
			<class name="PackageOne.ClassOne" />
		
			

		</classes>

	</test>





</suite> 
